//
// Variables
//---------------------------------

//== Colors
//
//##

@theme-color:           #f16529;
@theme-color-darker:    #e44d26;


//== Fonts
//
//##

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/Chunkfive-webfont.eot');
    src: url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Chunkfive-webfont.woff') format('woff'),
         url('fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


//
// Mixins
//---------------------------------

// Clearfix
.clearfix() {
  &:before,
  &after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.blank-background() {
  button,
  a {
    color: white;
    background: #bbb;
    &:hover {
      background: #c4c4c4;
    }
  }
  button:active {
    background: #888;
  }
}

.initializr-background() {
  button,
  a {
    color: white;
    background: #f16529;
    &:hover {
      background: #f67539;
    }
  }
  button:active {
    background: #d14509;
  }
}

.bootstrap-background() {
  button,
  a {
    color: white;
    background: #6090ff;
    &:hover {
      background: #78a0ff
    }
  }
  button:active {
    background: #4070df;
  }
}
