@import "normalize.less";
@import "base.less";               // base style

// Header
@import "header.less";
@import "search.less";

// Main Page
@import "hero.less";
@import "highlights.less";
@import "sponsors.less";

// Mobile Page
@import "mobile.less";

// Footer
#footer {
  padding: 50px 0;
  color: #fff;
  text-align: center;
  background-color: #727f80;
  a {
    font-weight: 700;
    color: #fff;
  }
}
